/*Global Style*/
html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', arial, sans-serif, serif;
}

a {
    text-decoration: none;
}

.blue {
    color: #192bc2 !important;
}

a:hover {
    text-decoration: none;
}

.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

#home {
    position: relative;
    background: url('https://skolsic993.github.io/skolsic993/img/home.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(25, 43, 194, 0.95);
    z-index: 2;
}

/*Navigation*/
nav {
    background-color: transparent !important;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    min-height: 13vh !important;
}

.logo {
    margin-top: 8px;
    z-index: 10;
}

.logo h4 a {
    z-index: 10;
    color: #fff;
    font-family: 'Bad Script', cursive;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 1px;
}

.logo:hover h4 a {
    text-decoration: none;
}

.nav-links {
    justify-content: space-around;
    width: 30%;
    transition: all 0.4s;
}

.nav-links a {
    color: #192bc2;
    z-index: 10;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
    transition: all 0.4s;
    text-decoration: none;
    padding: 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}

.nav-links li a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    color: #192bc2;
}

.nav-links li {
    list-style: none;
    transition: all 0.4s;
}

.nav-links li a span::after {
    color: #fff;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -2px;
    right: -20px;
}

.nav-links li a:hover span {
    padding-right: 25px;
}

.nav-links li a:hover span:after {
    opacity: 1;
    right: 0;
    color: #192bc2;
}

.burger div {
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin: 5px; 
    transition: 0.5s ease;
}

.burger {
    z-index: 1000;
    background-color: trasparent;
    cursor: pointer;
    padding: 10px 15px;
    transition: all 0.6s;
}

.burger .line1 {
    margin-right: 0px;
}

.burger .line2 {
    margin-left: 1px;
}

.burger .line3 {
    margin-left: -3px;
}

.burger:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
/*End Navigation*/

/*Jumbotron*/
.title {
    margin-bottom: .5rem;
	font-size: 4em;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
    color: #fff;
    background-clip: text;
	-webkit-text-fill-color: transparent;
    animation: textclip 2.5s linear infinite;
    
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    background: linear-gradient(90deg, #192bc2, #fff, #192bc2);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

.subtitle {
    color: #fff;
    margin-bottom: 2rem;
	font-size: 1em;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}

.abouttext {
    color: #fff !important;
    margin-bottom: 2rem;
	font-size: 1.2em;
	font-weight: 500;
    font-family: 'Raleway', sans-serif;
    z-index: 100;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 4rem 2rem;
    }
}

.vertical-align {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.gradient {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 1.8em;
    padding: 13px 22px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
}

.skill-card {
    padding: 20px 30px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 8px 15px 25px rgba(0, 0, 0, 0.8);
    background-color: #fff;
}

.container {
    height: inherit;
}

.skill-card p {
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: rgba(25, 43, 194, 1);
}

.skill-card li {
    font-weight: 600;
    color: rgba(56, 29, 40, 0.6);
    font-family: 'Raleway', sans-serif;
}

.gradient:hover {
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.2);
}

.gradient span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    color: #fff;
}

.gradient span::after {
    color: #fff;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -2px;
    right: -20px;
    transition: 0.5s;
}

.gradient:hover span {
    padding-right: 25px;
}

.gradient:hover span:after {
    opacity: 1;
    color: #fff;
}

.custom {
    background: transparent;
    border: 2px solid #192bc2;
    color: #192bc2;
    text-align: center;
    font-size: 1em;
    padding: 13px 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
}

.custom:hover {
    border: 2px solid;
    border-color: #c6cbf5;
}

.custom span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    color: #192bc2;
}

/*Latest Work*/
.section {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.section ul {
    color: #753650;
}

.list-inline-item:not(:last-child) {
    margin-right: 1rem !important;
}

.list-inline li a {
    text-decoration: none;
}

.section-title {
    padding-top: 1.8em;
    font-size: 2.8em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    z-index: 100;
}

/*About Me*/
#aboutme {
    background-color: #000122;
    min-height: 120vh;
    overflow: hidden !important;
}

/*Work with me*/
.why-work-icons {
    font-size: 4em;
}

.lead {
    font-size: 2em !important;
    font-weight: 700 !important;
}

/*Contact*/
.text-light-green {
    color: #53dd6c !important;
}

#contact {
    position: relative;
    background-color: #192bc2;
}

#contact  i {
    margin-right: 5px;
}

.btn-contact {
    margin: 30px auto;
    width: 100%;
    height: auto;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, .1);
    font-weight: 400;
    border-radius: 0 !important;
}

#linkedin-btn {
    background-color: #0077b5;
    transition: ease 0.4s;
    color: #fff;
    padding: 10px;
}

#linkedin-btn:hover {
    background-color: #0293de;
    color: #fff;
}

#email-btn {
    background-color: #02010a;
    transition: ease 0.4s;
    color: #fff;
    padding: 10px;
}

#email-btn:hover {
    color: #fff;
    background-color: #07041c;
}


.margin {
    margin-bottom: 65px !important;
}

      
/*Media Queries*/
@media screen and (max-width: 2560px) {
    .jumbotron {
        z-index: 10;
    }

    .nav-links {
        z-index: 500;
        margin: 0px;
        position: absolute;
        padding: 0px 20px;
        width: 100%;
        right: 0px;
        height: 100vh;
        top: 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 1.9em;
    }

    .nav-links li a:hover span {
        padding-right: 25px;
    }

    .gradient:hover span:after {
        opacity: 1;
        right: 0;
        color: #fff;
    }
}

@media screen and (max-width: 768px) { 
    .title {
        font-size: 3em;
    }

    .margin-top {
        margin-top: 30px !important;
    }

    .subtitle {
        font-size: 0.9em;
    }

    .logo h4 a {
        font-size: 1em;
    }

    .project-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .margin {
        margin-bottom: 25px !important;
    }

    .gradient {
        padding: 8px 15px;
    }

    .nav-links li a {
        font-size: 1.3em;
    }

    .gradient:hover span:after {
        opacity: 1;
        right: -1px;
        color: #fff;
    }

    .section-title {
        padding-top: 1.2em;
        font-size: 2.1em;
    }

    .project-title {
        font-size: 1.4em;
    } 
}

@media screen and (min-width: 425px) {
    .btn-contact {
        width: 300px;
    }
}

@media screen and (max-width: 425px) {
    .title {
        margin-bottom: 2rem;
    }
    
    .subtitle {
        display: none;
    }

    .nav-links li a {
        font-size: 1.1em;
    }

    .nav-links li a:hover span {
        padding-right: 15px;
    }

    .section-title {
        padding-top: 1.2em;
        font-size: 2em;
        text-align: center;
    }

    .gradient {
        font-size: 1.5em;
    }
}


@media screen and (max-width: 320px) {
    .nav-links {
        z-index: 500;
        position: absolute;
        right: 0px;
        padding: 0px 0px;
        height: 100vh;
        width: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .margin {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .nav-links li a {
        font-size: 1.1em;
    }

    .title {
        font-size: 2.8em;
    }

    .logo h4 a {
        font-size: 1em;
    }

    .section p {
        font-size: 0.9em;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle {
    transform: rotate(180deg);
    transition: all 0.4s;
}

.toggle:hover {
    background-color: rgba(25, 43, 194, 0.1);
}

.toggle .line1 {
    transform: rotate(45deg) translate(2px, 6px);
    background-color: #192bc2;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translate(10px, -4px);
    background-color: #192bc2;
}